@import "tailwindcss";

@theme {
  --color-primary: #FF9900;
  --color-secondary: #FF4D4D;
  --color-dark: #1A1A1A;
}

@variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}